.link-as-button {
  text-decoration: none;
}

.link-as-button:focus,
.button:focus {
  outline: none;
}

.link-as-button,
.button {
  cursor: pointer;
  display: inline-block;
  padding: 0.5em;
  background-color: #282c34;
  color: #ffffff;
  border-radius: 5px;
  font-family: 'Poppins', sans-serif;
  box-shadow: none;
  border: none;
  outline: none;
}

.no-button-style,
.no-link-style {
  text-decoration: none;
  cursor: pointer;
  box-shadow: none;
  border: none;
  outline: none;
  background: none;
  display: inline-block;
}

.no-button-style img,
.no-link-style img {
  display: inline-block;
}

.link-as-button:hover,
.button:hover {
  opacity: 0.65;
}

.button-icon {
  width: 32px;
  height: 32px;
}

.button-icon:hover {
  opacity: 0.65;
}

.positive-button-color {
  background-color: #4f5d73 !important;
}

.negative-button-color {
  background-color: #efefef !important;
  color: #282c34 !important;
}

button:disabled {
  text-decoration: line-through;
}
