input {
  width: 100%;
  padding: 0.75em 1em;
  margin: 0px 0px;
  box-sizing: border-box;

  border: none;
  border-bottom: 2px solid #3f3f3f;
  transition: 0.25s;
}

input:focus {
  border-color: #78cbf2;
}

input:focus::placeholder {
  color: transparent;
}

.user-form-page {
  width: 100%;
  display: block;
}

.user-form-container {
  width: 90%;
  display: block;
  margin: 0 auto;
  padding-bottom: 2em;
}

.user-form-data-container {
  width: 100%;
  display: flex;
  padding-top: 1em;
  padding-bottom: 1em;
  padding-left: 0em;
  padding-right: 1em;
}

.user-form-contact-container {
  width: 25%;
  padding-left: 1em;
  padding-right: 1em;
  padding-top: calc(0.5em + 2px);
}

.user-form-submit-container {
  width: 100%;
  display: block;
}

.user-form-preview-container {
  width: 35%;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}

.user-form-label-container {
  margin-top: 1em;
  margin-bottom: 1em;
  display: block;
}

.user-form-label-container span {
  text-align: left;
  display: block;
  font-family: 'Lora', serif;
}

.user-form-address-container {
  border-radius: 5px;
  border-style: solid;
  border-color: #4f5d73;
  border-width: 2px;
  padding: 1.5em;
  margin: 0em;
  width: 35%;
}

.user-form-address-title {
  z-index: 1;
  margin-top: -2em;
  background-color: white;
  display: table;
  padding-left: 0.25em;
  padding-right: 0.25em;
  color: #4f5d73;
}

.user-form-button {
  margin-left: 1em;
  margin-right: 1em;
}

.error-feedback-message {
  font-size: 0.85em;
  color: red;
  padding-top: 0.5em;
  font-weight: 500;
  font-family: 'Lora', sans-serif;
}

.user-form-preview-title {
  font-size: 1.3em;
  font-family: 'Lora', sans-serif;
  color: #282c34;
}
